#for Mobile
filelock
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama==0.4.6
dateparser
decorator
fastapi
Flask
future
geocoder
gTTS
idna
itsdangerous
Jinja2
MarkupSafe
pillow
PyAudio
pygame
python-dateutil
python-multipart
pytz
rapidfuzz
ratelim
regex
requests
six
soupsieve
SpeechRecognition
typing_extensions
tzdata
tzlocal
urllib3
uvicorn[standard]
wikipedia
